<center>
<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg" />
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Автор: [Yury Kashnitsky](https://yorko.github.io). Все материалы распространяются под [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/).

# Задание #1
## Анализ данных с Pandas

**В этом задании необходимо с помощью Pandas ответить на несколько вопросов о наборе данных [Adult](https://archive.ics.uci.edu/ml/datasets/Adult). (Загружать данные не нужно - они уже есть в репозитории). Выберите ответы в [веб-форме](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Уникальные значения всех характеристик (подробнее см. ссылки выше):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max.columns", 100)

# to draw pictures in jupyter notebook
%matplotlib inline
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в данном наборе данных?**

In [3]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

**3. Какова доля (%) граждан Германии (признак *native-country*)?**

In [5]:
np.sum(data["native-country"] == "Germany") / data.shape[0]

0.004207487485028101

**4-5. Каковы среднее (mean) и стандартное отклонение (standard deviation) возраста для тех, кто зарабатывает более 50 тыс. в год (признак *salary*), и тех, кто зарабатывает менее 50 тыс. в год?**

In [6]:
ages_gt50k = data[data["salary"] == ">50K"]["age"]
ages_leq50k = data[data["salary"] == "<=50K"]["age"]
print(f"""Average age of\n
    rich: {ages_gt50k.mean():.0f}+-{ages_gt50k.std():.1f}\n
    poor: {ages_leq50k.mean():.0f}+-{ages_leq50k.std():.1f}""")

Average age of

    rich: 44+-10.5

    poor: 37+-14.0

**6. Верно ли, что люди, зарабатывающие более 50 тыс., имеют образование не ниже среднего? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
data[data["salary"] == ">50K"]["education"].unique() # No

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Вывести статистику возраста (признак _age_) для каждой расы (признак _race_) и каждого пола (признак _sex_). Используйте функции _groupby()_ и _describe()_. Найти максимальный возраст мужчин расы _Amer-Indian-Eskimo_**

In [8]:
for (race, sex), sub_df in data.groupby(["race", "sex"]):
    print(f"Race: {race}, sex: {sex}")
    print(sub_df["age"].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Среди кого выше доля тех, кто зарабатывает много (>50 тыс.): женатых или холостых мужчин (признак *marital-status*)? Считать женатыми тех, у кого *marital-status* начинается с *Married* (*Married-civ-spouse*, *Married-spouse-absent* или *Married-AF-spouse*), остальные считаются холостяками**

In [9]:
print("married men")
print(data[
    (data["sex"] == "Male")
    & (data["marital-status"].str.startswith("Married"))
]["salary"].value_counts(normalize=True))

print("\nsingle men")
print(data[
    (data["sex"] == "Male")
    & ~(data["marital-status"].str.startswith("Married"))
]["salary"].value_counts(normalize=True))

married men
<=50K    0.559486
>50K     0.440514
Name: salary, dtype: float64

single men
<=50K    0.915505
>50K     0.084495
Name: salary, dtype: float64

**9. Каково максимальное количество часов, которое человек работает в неделю (характеристика *hours-per-week*)? Сколько человек работает такое количество часов, и каков процент тех, кто зарабатывает много (>50 тыс.) среди них?**

In [10]:
max_hours_per_week = data["hours-per-week"].max()
print(f"Max time: {max_hours_per_week} hours/week")

count_of_hardworkers = data[data["hours-per-week"] == max_hours_per_week].shape[0]
print(f"Count of hardworkers: {count_of_hardworkers}")

percent_of_rich_hardworkers = (data[
    (data["hours-per-week"] == max_hours_per_week)
    & (data["salary"] == ">50K")
].shape[0]) / count_of_hardworkers * 100.
print(f"Percent of rich hardworkers: {percent_of_rich_hardworkers:.2f}%")

Max time: 99 hours/week
Count of hardworkers: 85
Percent of rich hardworkers: 29.41%

**10. Подсчитайте среднее время работы (*hours-per-week*) для тех, кто зарабатывает мало и много (*salary*), для каждой страны (*native-country*). Какими они будут для Японии?**

In [11]:
print(f'{"country":26} {"salary":6} mean_hours_per_week')
for (country, salary), sub_df in data.groupby(["native-country", "salary"]):
    print(f'{country:26} {salary:6} {sub_df["hours-per-week"].mean():.2f}')

country                    salary mean_hours_per_week
?                          <=50K  40.16
?                          >50K   45.55
Cambodia                   <=50K  41.42
Cambodia                   >50K   40.00
Canada                     <=50K  37.91
Canada                     >50K   45.64
China                      <=50K  37.38
China                      >50K   38.90
Columbia                   <=50K  38.68
Columbia                   >50K   50.00
Cuba                       <=50K  37.99
Cuba                       >50K   42.44
Dominican-Republic         <=50K  42.34
Dominican-Republic         >50K   47.00
Ecuador                    <=50K  38.04
Ecuador                    >50K   48.75
El-Salvador                <=50K  36.03
El-Salvador                >50K   45.00
England                    <=50K  40.48
England                    >50K   44.53
France                     <=50K  41.06
France                     >50K   50.75
Germany                    <=50K  39.14
Germany                    >50K   44.98
Greece                     <=50K  41.81
Greece                     >50K   50.62
Guatemala                  <=50K  39.36
Guatemala                  >50K   36.67
Haiti                      <=50K  36.33
Haiti                      >50K   42.75
Holand-Netherlands         <=50K  40.00
Honduras                   <=50K  34.33
Honduras                   >50K   60.00
Hong                       <=50K  39.14
Hong                       >50K   45.00
Hungary                    <=50K  31.30
Hungary                    >50K   50.00
India                      <=50K  38.23
India                      >50K   46.48
Iran                       <=50K  41.44
Iran                       >50K   47.50
Ireland                    <=50K  40.95
Ireland                    >50K   48.00
Italy                      <=50K  39.62
Italy                      >50K   45.40
Jamaica                    <=50K  38.24
Jamaica                    >50K   41.10
Japan                      <=50K  41.00
Japan                      >50K   47.96
Laos                       <=50K  40.38
Laos                       >50K   40.00
Mexico                     <=50K  40.00
Mexico                     >50K   46.58
Nicaragua                  <=50K  36.09
Nicaragua                  >50K   37.50
Outlying-US(Guam-USVI-etc) <=50K  41.86
Peru                       <=50K  35.07
Peru                       >50K   40.00
Philippines                <=50K  38.07
Philippines                >50K   43.03
Poland                     <=50K  38.17
Poland                     >50K   39.00
Portugal                   <=50K  41.94
Portugal                   >50K   41.50
Puerto-Rico                <=50K  38.47
Puerto-Rico                >50K   39.42
Scotland                   <=50K  39.44
Scotland                   >50K   46.67
South                      <=50K  40.16
South                      >50K   51.44
Taiwan                     <=50K  33.77
Taiwan                     >50K   46.80
Thailand                   <=50K  42.87
Thailand                   >50K   58.33
Trinadad&Tobago            <=50K  37.06
Trinadad&Tobago            >50K   40.00
United-States              <=50K  38.80
United-States              >50K   45.51
Vietnam                    <=50K  37.19
Vietnam                    >50K   39.20
Yugoslavia                 <=50K  41.60
Yugoslavia                 >50K   49.50