<center>
<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg" />
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Автор: [Yury Kashnitsky](https://yorko.github.io). Все материалы распространяются под [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/).

# Задание #1
## Исследовательский анализ данных (EDA) Олимпийских игр с помощью Pandas
<img src="https://habrastorage.org/webt/my/70/d9/my70d97xhwfj8krp2q2qmn_smww.png" width=50%>

В этом задании десять вопросов, посвященных 120-летней истории Олимпийских игр.

### Ваша задача состоит в том, чтобы:
 1. Написать код и выполнить вычисления в ячейках ниже.
 2. Выбрать ответы в [веб-форме](https://docs.google.com/forms/d/1SJcNJxnY5Wwb_sDSxmb-FyghraeOt-ZmQMA0XzOLu4I).
 
*Если Вы уверены, что в задании/решении что-то не соответствует действительности на 100%, пожалуйста, оставьте свой отзыв через указанную веб-форму ↑*

-----

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max.columns", 100)

# to draw pictures in jupyter notebook
%matplotlib inline
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../data/athlete_events.csv.zip", index_col="ID")
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

 Набор данных имеет следующие признаки:

- __ID__ – Уникальный номер для каждого спортсмена
- __Name__ – Имя спортсмена
- __Sex__ – M или F
- __Age__ – Целое число
- __Height__ – В сантиметрах
- __Weight__ – В килограммах
- __Team__ – Название команды
- __NOC__ – Национальный Олимпийский Комитет 3-буквенный код
- __Games__ – Год и сезон
- __Year__ – Целое число
- __Season__ – Лето или Зима
- __City__ – Host city
- __Sport__ – Спорт
- __Event__ – Событие
- __Medal__ – Золото, Серебро, Бронза или NA

**1. Сколько лет было самым юным участникам Олимпийских игр 1992 года среди мужчин и женщин?**

- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [3]:
df[(df["Year"] == 1992) & (df["Sex"] == "M")]["Age"].min(), \
df[(df["Year"] == 1992) & (df["Sex"] == "F")]["Age"].min()

(11.0, 12.0)

**2. Какова доля мужчин-баскетболистов среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака**.

*Подсказка:* отбросьте дубликаты спортсменов там, где это необходимо, чтобы посчитать каждого спортсмена только один раз. Это относится и к другим вопросам.

- 0.2
- 1.5 
- 2.5
- 7.7

In [4]:
query = '(Year == 2012) & (Sex == "M")'
count_of_sportsmen_2012_m = len(df.query(query).drop_duplicates(subset="Name"))
count_of_basketball_2012_m = len(df.query(query + ' & (Sport == "Basketball")').drop_duplicates(subset="Name"))
percent = count_of_basketball_2012_m / count_of_sportsmen_2012_m * 100.
print(f"{percent:.2f}%")

2.46%

**3. Каковы среднее (mean) и стандартное отклонение (standard deviation) роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.**

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [5]:
tennis_2000_f = df.query('(Year == 2000) & (Sex == "F") & (Sport == "Tennis")')["Height"]
print(f"Height of female tennis players (year 2000): {tennis_2000_f.mean():.1f}+-{tennis_2000_f.std():.1f}")

Height of female tennis players (year 2000): 171.8+-6.5

**4. Найдите самого тяжелого спортсмена среди участников Олимпиады 2006 года. Каким видом спорта он или она занимались?**

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [6]:
max_weight_2006_idx = df.query('Year == 2006')["Weight"].idxmax()
heaviest_athlete_2006 = df.query(f'(Year == 2006)').loc[max_weight_2006_idx]
print(f'Sport of heaviest athlete 2006: {heaviest_athlete_2006["Sport"]}')

Sport of heaviest athlete 2006: Skeleton

**5. Сколько раз Джон Аалберг (John Aalberg) принимал участие в Олимпийских играх, проводившихся в разные годы?**

- 0
- 1 
- 2
- 3

In [7]:
len(df.query('Name == "John Aalberg"').groupby('Year'))

2

**6. Сколько золотых медалей в теннисе завоевала команда Швейцарии на Олимпийских играх 2008 года?**

- 0
- 1 
- 2
- 3

In [8]:
df.query('(Year == 2008) & (Team == "Switzerland")') \
    .groupby(["Medal", "Sport"]).get_group(("Gold", "Tennis")).shape[0]

2

**7. Верно ли, что на Олимпийских играх 2016 года Испания завоевала меньше медалей, чем Италия? Не учитывайте NaN-значения в столбце _Medal_.**

- Yes
- No

In [9]:
spain_medals = len(df.query('(Year == 2016) & (Team == "Spain")').dropna(subset=["Medal"]))
italy_medals = len(df.query('(Year == 2016) & (Team == "Italy")').dropna(subset=["Medal"]))
spain_medals, italy_medals, spain_medals <= italy_medals

(43, 70, True)

**8. Каковы наименее и наиболее распространенные возрастные группы среди участников Олимпийских игр 2008 года?**
- [45-55] и [25-35) сответственно
- [45-55] и [15-25) сответственно
- [35-45) и [25-35) сответственно
- [45-55] и [35-45) сответственно

In [10]:
def age_cat(age: int) -> str:
    if 15 <= age < 25:
        return "[15, 25)"
    elif 25 <= age < 35:
        return "[25, 35)"
    elif 35 <= age < 45:
        return "[35, 45)"
    elif 45 <= age <= 55:
        return "[45, 55]"


df["age_cat"] = df["Age"].map(age_cat)
df[df["Year"] == 2008].drop_duplicates(subset="Name").groupby("age_cat").size()

age_cat
[15, 25)    4776
[25, 35)    5373
[35, 45)     630
[45, 55]      78
dtype: int64

**9. Верно ли, что летние Олимпийские игры проходили в Атланте (Atlanta)? Верно ли, что зимние Олимпийские игры проводились в Скво-Вэлли (Squaw Valley)?**

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [11]:
pd.crosstab(df["City"], df["Season"]).loc[["Atlanta", "Squaw Valley"]]

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

**10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1994 года и Олимпиаде 2002 года?**

- 3
- 10
- 15 
- 27

In [12]:
np.abs(df[df["Year"] == 1994]["Sport"].nunique() - df[df["Year"] == 2002]["Sport"].nunique())

3